:root {
    --oscuro: #121212;
    --gris-card: #1E1E1E;
    --rojo-p: #BF4136;
    --rojo-b: #D93D3D;
    --rojo-o: #8C3A3A;
    --blanco-puro: #FFFFFF;
}

body {
    background-color: var(--oscuro);
    color: var(--blanco-puro); /* TEXTO EN BLANCO */
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
}

.custom-navbar {
    background-color: rgba(18, 18, 18, 0.98) !important;
    border-bottom: 3px solid var(--rojo-p);
    font-family: 'Orbitron', sans-serif;
}

.overlay-img {
    height: 60vh;
    object-fit: cover;
    filter: brightness(30%);
}

.section-title {
    color: var(--rojo-b);
    border-left: 8px solid var(--rojo-p);
    padding-left: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.custom-card {
    background-color: var(--gris-card);
    transition: transform 0.4s ease;
}

.form-wrapper {
    background: #181818;
    border: 2px solid var(--rojo-o);
}

.custom-btn {
    background-color: var(--rojo-p);
    color: var(--blanco-puro);
    font-family: 'Orbitron', sans-serif;
}

.bg-glass { background: rgba(255, 255, 255, 0.03); backdrop-filter: blur(10px); }
.border-accent { border: 2px dashed var(--rojo-o); }
p, li, label, h5 { color: var(--blanco-puro) !important; }